<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head', {title: "Administracion"}) %>
</head>
<body>

    <header id="top">
        <%- include('partials/header') %>
    </header>
     
    <main id="admin">

        <h1>Administrador</h1>

    </main>
    
    <footer>
      <%- include('partials/footer') %>
    </footer>
</body>
</html>