<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head') %>
</head>
<body>

    <aside id="offcanvas">
        <%- include('partials/offcanvas') %>
    </aside>
    
    <header id="top">
        <%- include('partials/header') %>
    </header>
     
    <main id="celebraciones">

        <h1>Lorem ipsum dolor sit.</h1>

        <section class="chess">

            <div class="row">
                <div><img src="https://picsum.photos/300?1" alt=""></div>
                <div>
                    <h3>Lorem ipsum dolor sit.</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis corporis ullam.</p>
                </div>
            </div>
            <div class="row">
                <div>
                    <h3>Lorem ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro temporibus praesentium recusandae, voluptatum hic laborum. Provident eligendi facere repudiandae in eum nam ea quos quam quidem sed distinctio aut cupiditate delectus assumenda odio earum quo iusto, at, culpa iure officiis tenetur explicabo quod nisi. Voluptas minus a tempora voluptate accusantium nam officia assumenda repudiandae dolore, illum rerum perferendis magnam quaerat suscipit eligendi molestiae ex vero nulla porro ab, doloremque dicta facilis? Fugit aliquid, minus exercitationem dicta aut illum. Dolorem deleniti recusandae distinctio harum asperiores sunt. Eaque totam corrupti repellendus, velit voluptatibus illum ipsam dolorem omnis quos fuga laborum expedita eum.</p>
                </div>
                <div><img src="https://picsum.photos/500?2" alt=""></div>
            </div>
            <div class="row">
                <div><img src="https://picsum.photos/500/300?3" alt=""></div>
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, ab eveniet? Non et fugit ducimus.</p>
                </div>
            </div>
            <div class="row">
                <div>
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, quasi?</p>
                </div>
                <div><img src="https://picsum.photos/500?4" alt=""></div>
            </div>
            <div class="row">
                <div><img src="https://picsum.photos/500?5" alt=""></div>
                <div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>

        </section>

    </main>
    
    <footer>
      <%- include('partials/footer') %>
    </footer>
    
    <script src="javascripts/front.js"></script>
</body>
</html>